body > header .logo a img {
  display: inline-block; }

body > header .logo a::after {
  content: "+";
  display: inline-block;
  vertical-align: .09em;
  color: rgba(255, 255, 255, 0.6); }

body > header + h2 {
  background: var(--color-blue); }

.intro {
  font-size: 200%; }

section[mv-app="plugins"] > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[property="plugin"] {
  width: 46%;
  margin: .5rem 0; }

.plugin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  vertical-align: top;
  padding: .75em 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .2em; }
  .plugin > div {
    -ms-flex: 1;
    flex: 1; }
  .plugin h1 {
    margin: 0;
    font-size: 160%;
    font-weight: 300;
    font-family: var(--font-body); }
    .plugin h1 a {
      display: -ms-flexbox;
      display: flex;
      color: var(--color-magenta);
      font-weight: inherit; }
    .plugin h1 [property="name"] {
      -ms-flex: 1;
      flex: 1; }
    .plugin h1 [property="id"] {
      padding: .5em .8em;
      border-radius: 1em;
      margin: auto;
      background: #ffe6f2;
      font-size: 50%;
      line-height: 1;
      font-weight: bold; }
    .plugin h1 a:hover [property="id"] {
      background: var(--color-magenta);
      color: white;
      text-decoration: none; }
  .plugin footer {
    display: -ms-flexbox;
    display: flex;
    padding: inherit;
    margin: .6em -1rem -.75em;
    background: rgba(0, 0, 0, 0.05); }
    .plugin footer > div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
    .plugin footer .author {
      -ms-flex: 1;
      flex: 1; }
    .plugin footer .button, .plugin footer .github-button {
      padding: .35em .8em;
      border-radius: .3em;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background: linear-gradient(white, transparent);
      font: 600 12px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
      color: inherit; }
      .plugin footer .button:hover, .plugin footer .github-button:hover {
        background: var(--color-magenta);
        color: white;
        text-decoration: none; }
    .plugin footer .button, .plugin footer .github-button, .plugin footer iframe {
      margin: 0 .1em; }
    .plugin footer a {
      font-weight: bold;
      color: var(--color-magenta); }
  .plugin[mv-app] {
    font-size: 140%; }
    .plugin[mv-app][mv-progress]::after {
      font-size: calc(100% / 1.4); }

a.author img {
  display: inline-block;
  vertical-align: text-top;
  max-height: 1.2em;
  border-radius: .1em; }

a[property="tag"] {
  display: inline-block;
  padding: .1em .4em;
  margin-right: .3em;
  border-radius: .3em;
  background: var(--color-orange);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75%; }
  a[property="tag"]:hover, a[property="tag"]:focus {
    text-decoration: none;
    background: var(--color-blue); }

[mv-app="pluginreadme"] h1 {
  color: var(--color-orange);
  font-size: 200%; }

[mv-app="pluginreadme"] h2 {
  color: var(--color-magenta);
  font-size: 150%; }

/*# sourceMappingURL=style.css.map */
