body > header {
	.logo a {
		img {
			display: inline-block;
		}

		&::after {
			content: "+";
			display: inline-block;
			vertical-align: .25em;
			color: hsla(0,0%,100%, .6);
		}
	}
}

body > header + h2 {
	background: var(--color-blue);
}

.intro {
	font-size: 200%;
}

section[mv-app="plugins"] {
	& > div {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

[property="plugin"] { // Plugin listing
	width: 100%;
	margin: .5rem 0;

	@media (min-width: 950px) {
		width: 46%;
	}
}

.plugin {
	display: flex;
	flex-flow: column;
	vertical-align: top;
	padding: .75em 1rem;
	border: 1px solid hsla(220,10%,0%,.15);
	border-radius: .2em;

	& > div {
		flex: 1;
	}

	h1 {
		margin: 0;
		font-size: 160%;
		font-weight: 300;
		font-family: var(--font-body);

		a {
			display: flex;
			color: var(--color-magenta);
			font-weight: inherit;
		}

		[property="name"] {
			flex: 1;
		}

		[property="id"] {
			padding: .5em .8em;
			border-radius: 1em;
			margin: auto;
			background: hsl(330, 100%, 95%);
			font-size: 50%;
			line-height: 1;
			font-weight: bold;
		}

		a:hover [property="id"] {
			background: var(--color-magenta);
			color: white;
			text-decoration: none;
		}
	}

	footer {
		display: flex;
		padding: inherit;
		margin: .6em -1rem -.75em;
		background: hsla(220,10%,0%,.05);

		& > div {
			display: flex;
			align-items: center;
		}

		.author {
			flex: 1;
		}

		.button, .github-button, .github-buttons > a {
			padding: .35em .8em;
			border-radius: .3em;
			border: 1px solid rgba(0,0,0,.15);
			background: linear-gradient(white, transparent);
			font: 600 12px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; // same as GH button
			color: inherit;

			&:hover {
				background: var(--color-magenta);
				color: white;
				text-decoration: none;
			}
		}

		.button,
		.github-button,
		.github-buttons > a,
		iframe {
			margin: 0 .1em;
		}

		a {
			font-weight: bold;
			color: var(--color-magenta)
		}
	}

	&[mv-app] { // View page
		font-size: 140%;

		&[mv-progress]::after {
			font-size: calc(100% / 1.4);
		}
	}
}

a.author {
	img {
		display: inline-block;
		vertical-align: text-top;
		max-height: 1.2em;
		border-radius: .1em;
	}
}

a[property="tag"] {
	display: inline-block;
	padding: .1em .4em;
	margin-right: .3em;
	border-radius: .3em;
	background: var(--color-orange);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 75%;

	&:hover, &:focus {
		text-decoration: none;
		background: var(--color-blue);
	}
}

[mv-app="pluginreadme"] {
	h1 {
		color: var(--color-orange);
		font-size: 200%;
	}

	h2 {
		color: var(--color-magenta);
		font-size: 150%;
	}
}

iframe {
	border: none;
	width: 100%;
}
