.logo a {
	&::after {
		content: "+";
		display: inline-block;
		vertical-align: .09em;
		color: hsla(0,0%,100%, .6);
	}
}

body > header + h2 {
	background: var(--color-blue);
}

.intro {
	font-size: 200%;
}

section[mv-app="plugins"] {
	& > div {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

article[property="plugin"] {
	display: flex;
	flex-flow: column;
	vertical-align: top;
	padding: .75em 1em;
	width: 45%;
	border: 1px solid hsla(220,10%,0%,.15);
	border-radius: .2em;
	margin: 1rem 0;

	& > div {
		flex: 1;
	}

	h1 {
		margin: 0;
		font-size: 160%;
		font-weight: 300;

		a {
			color: var(--color-magenta);
		}
	}

	footer {
		display: block;
		padding: inherit;
		margin: .6em -1rem -.75em;
		background: hsla(220,10%,0%,.05);

		a {
			font-weight: bold;
			color: var(--color-magenta)
		}
	}
}

a.author {
	img {
		display: inline-block;
		vertical-align: text-top;
		max-height: 20px;
	}
}

a[property="tag"] {
	display: inline-block;
	padding: .1em .4em;
	margin-right: .3em;
	border-radius: .3em;
	background: var(--color-orange);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 75%;

	&:hover, &:focus {
		text-decoration: none;
		background: var(--color-blue);
	}
}
