@@include('_head.html', {
	"rootclass": "plugins",
	"title": "Mavo Plugins",
	"includes": "<link rel='stylesheet' href='/css/style.css'>"
})

<body>

@@include('_header.html')


<h2>Plugins</h2>

<section id="plugin-list">
	<p class="intro">Plugins teach Mavo new tricks, so you can create even more awesomeness!</p>

	<section mv-app="plugins" mv-storage="https://github.com/LeaVerou/mavo-plugins" mv-plugins="markdown github-pr">
		<meta property="tagFilter" content="[$url.tag]">
		<p class="notice" mv-if="tagFilter">
			Some plugins are hidden. <a href="?">Show All.</a>
		</p>
		<div>
			<article property class="plugin" mv-multiple mv-if="!tagFilter or count(tag = tagFilter) > 0">
				<div>
					<h1>
						<a href="/plugin/[id]">
							<span property="name">Name</span>
							<span property="id" title="Use this id in the mv-plugins attribute to dynamically load this plugin"></span>
						</a>
					</h1>
					<div property="description" class="markdown">Description</div>
					<a href="?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
					<meta property="repo" mv-edit-placeholder="E.g. [author]/mavo-[id]">
				</div>

				<footer>
					<a class="author" href="https://github.com/[author]">
						<img src="https://github.com/[author].png?size=40" alt="">
						<span property="author">leaverou</span>
					</a>
				</footer>
			</article>
		</div>
	</section>

</section>

@@include('_footer.html')

</body>
</html>
