<!DOCTYPE html>
<html lang="en" mv-app="plugin" mv-storage="https://github.com/LeaVerou/mavo-plugins" mv-source="http://plugins.mavo.io/plugins.json" mv-path="plugin/[urlOption(i)]">
<head>
	<meta charset="UTF-8">
	<title>[name] &bull; Mavo Plugins</title>
	<link rel="stylesheet" href="/mavo/mavo.css" />
	<link rel="stylesheet" href="http://mavo.io/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body mv-app="single">

<header>
	<h1 class="logo">
		<a href="/"><img src="http://mavo.io/logo.svg" alt="Mavo"></a>
	</h1>
</header>


<h2>Plugins</h2>

<section>
	<div class="mv-bar mv-ui"></div>
	<h1 property="name"></h1>
	<p property="description"></p>
	<p>
		<a href="index.html?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
	</p>
	<p>
		<div mv-if="repo">
			<a href="http://github.com/[repo]">Github</a>
			<a class="github-button" href="https://github.com/[repo]" data-icon="octicon-star" data-style="mega" data-count-href="/[repo]/stargazers" data-count-api="/repos/[repo]#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star [repo] on GitHub">Star</a>
		</div>
		<div mv-if="!repo">
			<a href="http://github.com/leaverou/mavo-plugins/tree/master/[id]">Github</a>
		</div>
	</p>
</section>

<footer>
	<div>
		<p>
			Made with &hearts; by <a href="http://lea.verou.me">Lea Verou</a> and <a href="https://github.com/LeaVerou/mavo-plugins/graphs/contributors">contributors</a>
			&bull; <a href="https://twitter.com/mavohtml">@mavohtml on 🐦 Twitter</a>
			&bull; <a href="https://github.com/leaverou/mavo">Mavo on Github</a>
		</p>
	</div>

	<a href="http://mit.edu" class="logo"><img src="http://mavo.io/img/logo-mit.svg" alt="MIT" /></a>
	<a href="http://csail.mit.edu" class="logo"><img src="http://mavo.io/img/logo-csail.svg" alt="CSAIL" /></a>
</footer>


<script src="../mavo/mavo.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
