@@include('_head.html', {
	"rootclass": "plugins",
	"title": "View Plugin &bull; Mavo Plugins",
	"includes": "<link rel='stylesheet' href='/css/style.css'>"
})
<body>

@@include('_header.html')


<h2>Plugins</h2>

<section mv-app="plugin" mv-storage="https://github.com/LeaVerou/mavo-plugins" mv-source="plugins.json" mv-path="plugin/[$url.plugin]">
	<div class="mv-bar mv-ui"></div>
	<meta property="id" />
	<h1 property="name"></h1>
	<p property="description"></p>
	<p>
		<a href="index.html?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
	</p>

	<meta property="repo" />

	<p>
		<meta property="github" content="https://github.com/[if(repo, repo, 'leaverou/mavo-plugins/' & id)]" />
		<meta property="github2" content="https://github.com/['leaverou/mavo-plugins/' & id]" />

		<div mv-if="repo">
			<a href="http://github.com/[repo]">Github</a>
			<a class="github-button" href="[github]" data-icon="octicon-star" data-style="mega" data-count-href="/[repo]/stargazers" data-count-api="/repos/[repo]#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star [repo] on GitHub">Star</a>
		</div>
		<div mv-if="!repo">
			<a href="http://github.com/leaverou/mavo-plugins/tree/master/[id]">Github</a>
		</div>
	</p>
</section>

<section mv-app="pluginreadme" mv-storage="[plugin.github]/README.md" mv-plugins="markdown">
	<div property="content" class="markdown"></div>
</section>

@@include('_footer.html')

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
$('[property="github2"]').addEventListener("mavo:datachange", evt => {
	console.log(evt.node.value)
})
</script>

</body>
</html>
