<!DOCTYPE html>
<html lang="en" class="plugins">
<head>
	<meta charset="UTF-8">
	<title>View Plugin &bull; Mavo Plugins</title>
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
	<link rel="stylesheet" href="//mavo.io/css/style.css" />
	<link rel="icon" href="/favicon.ico">

	<link rel='stylesheet' href='/css/style.css'>

	<script src="https://get.mavo.io/mavo.js"></script>
</head>

<body mv-plugins="markdown">

<header>
	<h1 class="logo">
		<a href="/"><img src="//mavo.io/logo.svg" alt="Mavo"></a>
	</h1>
	<nav>
	<a href="//mavo.io/docs/primer">Get started</a>
	<a href="//mavo.io/docs">Docs</a>
	<a href="//mavo.io/demos">Demos</a>
	<a href="//mavo.io/faq">FAQ</a>
	<a href="https://plugins.mavo.io">Plugins</a>
	<a href="//mavo.io/get">Get Mavo</a>
</nav>

</header>



<h2>Plugins</h2>

<section id="plugin-info">
	<article class="plugin" mv-app="plugin"
	         mv-storage="https://github.com/LeaVerou/mavo-plugins/plugins.json" mv-source="https://plugins.mavo.io/plugins.json"
	         mv-path="plugin/[$url.plugin or last($url.path)]">
		<div class="mv-bar mv-ui"></div>

		<h1>
			<a href="view/?plugin=[id]">
				<span property="name">Name</span>
				<span property="id" title="Use this id in the mv-plugins attribute to dynamically load this plugin"></span>
			</a>
		</h1>
		<div property="description" class="markdown"></div>
		<div>
			<a href="index.html?tag=[tag]" property="tag" mv-attribute="null" mv-multiple></a>
		</div>

		<meta property="repo" />
		<meta property="github" content="https://github.com/[if(repo, repo, 'mavoweb/plugins/' & id)]" />
		<meta property="web" content="[if(repo, 'https://github.com/' & repo, 'https://plugins.mavo.io/' & id)]" />

		<footer>
			<a class="author" href="https://github.com/[author]">
				<img src="https://github.com/[author].png?size=40" alt="">
				<span property="author">leaverou</span>
			</a>

			<div mv-if="repo">
				<a class="github-button" href="http://github.com/[repo]" data-icon="octicon-mark-github" data-size="large" aria-label="Plugin files on GitHub">Files</a>
				<a class="github-button" href="https://github.com/[repo]/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" data-count-aria-label="# issues on GitHub" aria-label="Issue [repo] on GitHub">Issues</a>
				<a class="github-button" href="[github]" data-icon="octicon-star" data-size="large" data-count-href="/[repo]/stargazers" data-show-count="true" data-count-aria-label="# stargazers on GitHub" aria-label="Star [repo] on GitHub">Star</a>
			</div>
			<div mv-if="!repo">
				<a class="github-button" href="http://github.com/mavoweb/plugins/tree/master/[id]" data-icon="octicon-mark-github" data-size="large" aria-label="Plugin files on GitHub">Files</a>
				<a href="http://github.com/mavoweb/plugins/issues?q=[id]%20in%3Atitle%20" class="bugs button">Issues</a>
			</div>
		</footer>
	</article>
</section>

<section mv-app="pluginreadme" mv-storage="[plugin.github]/README.md" mv-source="[plugin.web]/README.md">
	<div property="readme">This plugin has no readme :(</div>
</section>

<section mv-app mv-bar="none" class="language-markup">
	<h1>How to use this plugin</h1>

	<p>To use this plugin, you first need to include it. The easiest way for that is to use the <code>mv-plugins</code> attribute with the id of the plugin (<code>[plugin.id]</code>), like this:</p>

	<script type="text/plain">
		<div mv-app="myCoolApp" mv-plugins="[plugin.id]">
			...
		</div>
	</script>

	<p>You can have multiple <code>mv-plugins</code> attributes on different elements. Its value also accepts multiple plugin ids, separated by spaces (e.g. <code>mv-plugins="[plugin.id] plugin1 plugin2"</code>).
		This way, every Mavo app can individually declare which plugins it needs and each plugin is only fetched once.</p>

	<div mv-if="plugin.repo">
		<p>Alternatively, you can download the source files for this plugin by visiting its repository on Github</p>

		<p><a href="https://github.com/[plugin.repo]" class="call-to-action button">Visit [plugin.repo]</a></p>
	</div>
	<div mv-if="!plugin.repo">
		<p>Alternatively, you can download the JavaScript file of this plugin by clicking below:</p>

		<p><a href="/[plugin.id]/mavo-[plugin.id].js" class="call-to-action button">Download mavo-[plugin.id].js</a></p>
	</div>


	<p>Then, you can include it by using the <code>&lt;script></code> element, right after the one for Mavo:</p>

	<script type="text/plain">
		<script src="mavo.js">&lt;/script>
		<script src="mavo-[plugin.id].js">&lt;/script>
	</script>

	<p>Note that some plugins may also include CSS or other JavaScript files, which they expect to find in the same directory as the plugin’s main JS file.
	You do not have to worry about this if including the plugin via the <code>mv-plugins</code> attribute.</p>
</section>

<footer>
	<p>
		Made with &hearts; by <a href="http://lea.verou.me">Lea Verou</a> and <a href="https://github.com/mavoweb/mavo/graphs/contributors">all these awesome people</a>.
		Proudly hosted by <a href="https://www.netlify.com" class="netlify">Netlify</a>.
	</p>
	<article>
		<h1>Explore</h1>

		<ul>
			<li><a href="/docs/primer">Get started</a></li>
			<li><a href="/docs">Docs</a></li>
			<li><a href="/demos">Demos</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="https://plugins.mavo.io">Plugins</a></li>
			<li><a href="/get">Get Mavo</a></li>
			<li><a href="https://test.mavo.io">Testsuite</a></li>
			<li><a href="/credits">Credits</a></li>
		</ul>
	</article>
	<article>
		<h1>Social Mavo</h1>

		<ul>
			<li><a href="https://twitter.com/mavoweb">Follow @mavoweb on Twitter</a></li>
			<li><a href="https://gitter.im/mavoweb">Chat with us on Gitter</a></li>
			<li>
				<a href="https://github.com/mavoweb/mavo">Github</a>
				<a class="github-button" href="https://github.com/mavoweb/mavo" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star mavoweb/mavo on GitHub">Star</a>
			</li>
		</ul>
	</article>

	<a href="http://mit.edu" class="logo"><img src="//mavo.io/img/logo-mit.svg" alt="MIT" /></a>
	<a href="http://csail.mit.edu" class="logo"><img src="//mavo.io/img/logo-csail.svg" alt="CSAIL" /></a>
</footer>

<script src="//mavo.io/js/prism.js"></script>
<script src="/sitewide.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script src="/view/view.js"></script>

</body>
</html>
